@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font:{
    weight: 400;
  }
}

h1{
  font:{
    weight: 500;
  }
}
h2{
  font:{
    weight: 400;
  }
}