<!DOCTYPE HTML>
<html lang="de">
<head>

    <base href="{#base_href#}">
    <meta charset="UTF-8">

    <title>{$title}</title>

    <meta name="description" content="{$meta_description}">
    <meta name="keywords" content="{$meta_keywords}">
    <meta http-equiv="content-Language" content="de" />
    <meta name="robots" content="index,follow" />

    <link rel="stylesheet" href="../../styles/style.css?version={$version_code}{$uniqid}">

    <script type="text/javascript" src="../../../java/plugins/jquery/index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">
</head>
<body>